body {
  color: #333;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: beige;
}

#cabecera {
  background: rgb(29, 7, 155) !important;
  color: white;
  margin: 0;
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  
}

#cabecera img,
#cabecera h3 {
  display: inline-block;
  vertical-align: middle;
}
#cabecera img {
  width:35px;
  height: auto;
  padding-right: 1em;
}

#tagline {
  text-transform: capitalize;
  font-weight: normal;
}

.container {
  width: 70%;
  max-width: 960px;

  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

#container h1 {
  font-size: 20px;
  color: rgb(51, 51, 49);
}


#post {
  overflow: hidden;
  margin: 1em;
 
}

#post img {
  float: left;

  margin: 0em 1em 1em 0;
}


footer {
  font-size: 14px;
  text-align: center;
  background-color: #777;
  color: #fff;
  padding: 1em;

}

footer p {
  padding: 0;
  margin: 0;
}